{% extends "main.html"%}

{% block content %}
<h1>Habitaciones del hotel</h1>
<div class="row">
    <div class="col p-0">
        <input id="roomSearch" placeholder="Buscar por nombre..." type="search" oninput="searchRoom()"/>
    </div>
</div>
<div class="row justify-content-left align-items-center">
    {% for room in rooms%}
    <div class="room col-6 card gap-1">
        <div class="p-3">
            <div class="">
                {{room.name}} ({{room.room_type__name}})
            </div>
            <div>
                <a href="{% url 'room_details' pk=room.id%}">Ver detalles</a>
            </div>
            
        </div>
        
    </div>
    {% endfor %}
</div>
{% load static %}
<script async src="{% static 'js/search_room.js' %}"></script>
{% endblock content%}